#name,#addr{
	
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;

}

#name td, #name th {
  border: 1px solid #ddd;
  padding: 8px;
}

#name tr:nth-child(even){background-color: #f2f2f2;}

#name tr:hover {background-color: #ddd;}

#name th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
} 
.head{
	color: red;
	background-color: #f2f2f2;
}